/* Global */
.container {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    padding: 40px;
}

.wrap {
    margin: 0 auto;
}

h1 {
    font-size: 32px;
    line-height: 40px;
    color: #474747;
    margin: 0;
}

h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ADADAD;
}

/* Add Wish Form */
.add-item {
    float: left;
    width: 350px;
    padding: 32px;
    margin-right: 16px;
    background: #FFFFFF;
    border-top: 8px solid #00A0DD;
    box-shadow: 0px 3.74322px 1.96466px rgba(0, 0, 0, 0.0196802), 0px 7.86088px 4.31392px rgba(0, 0, 0, 0.0282725), 0px 12.7231px 7.8386px rgba(0, 0, 0, 0.035), 0px 19.2905px 14.6715px rgba(0, 0, 0, 0.0417275), 0px 31.4097px 31.805px rgba(0, 0, 0, 0.0503198), 0px 100px 80px rgba(0, 0, 0, 0.07);
}

.add-item h3 {
    margin-bottom: 24px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* Added Items – List */
.items-list {
    float: right;
    width: 400px;
    margin-left: 16px;
}

.wish {
    overflow: hidden;
    padding: 24px;
    margin-bottom: 24px;
    background: #FFFFFF;
    box-shadow: 0px 3.74322px 1.96466px rgba(0, 0, 0, 0.0196802), 0px 7.86088px 4.31392px rgba(0, 0, 0, 0.0282725), 0px 12.7231px 7.8386px rgba(0, 0, 0, 0.035), 0px 19.2905px 14.6715px rgba(0, 0, 0, 0.0417275), 0px 31.4097px 31.805px rgba(0, 0, 0, 0.0503198), 0px 100px 80px rgba(0, 0, 0, 0.07);
}

h2 {
    margin: 0;
    font-size: 20px;
    color: #474747;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    padding-left: 16px;
    border-left: 1px solid #cac9c9;
}

.name .MuiButton-root {
    line-height: 1.25 !important;
}


p {
    color: #ADADAD;
    margin: 0;
}

.name span {
    color: #00A0D0;
}


/* Custom – Material UI Components */
.MuiFilledInput-underline:after {
    border-bottom: 2px solid #00A0DD !important;
}

.MuiInputLabel-root.Mui-focused {
    color: #00A0DD !important;
}

.MuiButton-containedPrimary {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif !important;
    font-weight: 600 !important;
    background: #00A0DD !important;
}

.MuiFormControl-root {
    margin: 0 0 24px 0 !important;
}

.MuiFilledInput-root {
    border-radius: 0 !important;
}

.MuiFilledInput-underline:before {
    border-bottom: none !important;
}

.MuiFormLabel-root {
    font-weight: 600 !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif !important;
}

.MuiInputBase-root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'Arial', sans-serif !important;
}
